<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.yttrium.scrotter"
	android:versionCode="5"
	android:versionName="1.4"
	android:installLocation="preferExternal">
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true"
		android:hardwareAccelerated="true"
	    android:anyDensity="true"/>
	<uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Scrotter"
		android:theme="@android:style/Theme.Holo.Light"
		android:largeHeap="true">
		
		<activity android:name="anywheresoftware.b4a.objects.preferenceactivity"/>
		<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIez0WOCFFG_Fq3wWHPsHrFVqUb3ubbiEZ0ySG5w" />
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Scrotter"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
			    <action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			    <data android:mimeType="image/*" />
			</intent-filter>
		</activity>
	</application>
</manifest>